# Python
__pycache__/
*.py[cod]

# Build outputs
build/
dist/
*.spec

# Jupyter
.ipynb_checkpoints/
*.ipynb

# VS Code
.vscode/
*.code-workspace

# Generated output
data/output/
# Local/company files
assets/
Daten/
test_result/
a.png
